@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');

body {
  font-family: 'Work Sans';
}

@layer utilities {
  @media (max-width: 375px) {
    .res-mob-h1 {
      font-size: 52px;
      line-height: 51px;
    }
  }

  @media (max-width: 375px) {
    .res-mob-bg {
      width: auto;
      height: 105%;
    }
  }

  @media (max-width: 375px) {
    .res-mob-text {
      padding-top: 0px;
    }
  }

  @media (max-width: 375px) {
    .res-mob-wrapper {
      overflow: hidden;
    }
  }

  @media (max-width: 375px) {
    .res-mob-oval {
      padding-top: 30px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  @media (max-width: 375px) {
    .res-mob-slider {
      background-color: red;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 375px) {
    .res-mob-arrow {
      display: none;
    }
  }

  @media (max-width: 375px) {
    .res-mob-pov {
      padding-top: 80px;
      padding-right: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media (max-width: 375px) {
    .res-mob-thirdtext {
      font-size: 16px;
      line-height: 24px;
      padding-right: 16px;
    }
  }
}
